<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="android.BeeFood.master">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeeFood"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity android:name=".view.home_action_menu.HomeActivity"
            android:exported="false">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        
        <activity android:name=".view.home_action_menu.home.craving.Activity_craving"
            android:exported="false">
        </activity>
        <activity android:name=".view.home_action_menu.home.food.Activity_food"
            android:exported="false">
        </activity>
        <activity android:name=".view.home_action_menu.home.more_category.Activity_MoreCategory"
            android:exported="false">
        </activity>
        <activity android:name=".view.home_action_menu.home.mycart.Activity_MyCart"
            android:exported="false">
        </activity>

        <activity android:name=".view.home_action_menu.home.recommended_for_you.Activity_Recommended"
            android:exported="false">
        </activity>

        <activity android:name=".view.home_action_menu.home.special_offers.Activity_Special_offers"
            android:exported="false">
        </activity>

        <activity
            android:name=".view.accountSetup.Screen_Pin_Code"
            android:exported="false">
        </activity>
        <activity
            android:name=".view.accountSetup.Screen_Recognition"
            android:exported="false" />
        <activity
            android:name=".view.accountSetup.Screen_Fingerprint"
            android:exported="false" />
        <activity
            android:name=".view.accountSetup.Screen_Profile"
            android:exported="false">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA3w6iFMRdPANrFHsTju-u3TMLufESEgZA" />

        <activity
            android:name=".view.accountSetup.MapsActivity"
            android:exported="false"
            android:label="" />
        <activity android:name=".view.onboarding_sign_up_sign_in.Onboarding_Screen" android:exported="false"/>
        <activity android:name=".view.onboarding_sign_up_sign_in.RegisterActivity" android:exported="false"/>
        <activity android:name=".view.onboarding_sign_up_sign_in.Splash_Screen" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.onboarding_sign_up_sign_in.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--ac_Profile-->
        <activity android:name=".view.profile.address.Address_Activity"
            android:exported="false"/>

        <activity android:name=".view.profile.security.Security_Activity"
            android:exported="false"/>

        <activity android:name=".view.profile.language.Language_Activity"
            android:exported="false"/>

        <activity android:name=".view.profile.notification.Notification_Activity"
            android:exported="false"/>

        <activity android:name=".view.profile.profile_update.Profile_Update_Activity"
            android:exported="false"/>
        <!--        -->

        <service
            android:name=".controller.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- setting push notification -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_gau" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" /> <!-- Fb -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>
</manifest>